html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  padding: 0 150px;
  margin: 0 90px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  box-shadow: rgba(17, 17, 17, 0.897);
}

.grid div:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.grid div:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.navbar {
  background-color: #d60505;
  width: 100%;
  padding: 2px 0;
}
.search {
  float: right;
}
h6 {
  color: white;
}
#hfg {
  color: red;
}

.navbar-links {
  text-decoration-thickness: 1000pt;
  color: white;
  text-decoration-style: none;
  display: inline-flex;
}
.navbar-links li {
  display: inline-flex;
  white-space: nowrap;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
}
.logo {
  color: black;
}

#more {
  display: none;
}
#pp {
  color: white;
}
p {
  text-align: justify;
  text-emphasis: none;

  font-weight: lighter;
  font-size: 14px;
}
label {
  align-items: left;
}

.button44 {
  color: rgb(5, 253, 79);
}
.submit3 {
  color: blue;
}

span {
  color: red;
}

.search3 {
  margin-right: 40px;
}
.piggy {
  height: 60px;
}
.summit1 {
  background-color: #00003e;
  color: white;

  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 20px;
}
.button3 {
  background-color: #00003e;
  color: white;

  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 20px;
}
/* Set a style for all buttons */
button {
  background-color: #00003e;
  color: white;

  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* The "Forgot password" text */

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: none;
    float: none;
  }
  .cancelbtn {
    width: 100px;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}
.row6 {
  float: right;
  padding: 0 20px;
}

/* Set a style for all buttons */

button:hover {
  opacity: 2;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
  }
}
.row {
  background-color: #d60505;
  width: 100%;
}
.column {
  float: left;

  padding: 0 1rem;
  display: inline-block;
  color: white;
}

.column2 {
  float: right;
  padding: 0 2rem;
}

.loginbtn1 {
  margin: 20px;
  float: right;
}
.piggy {
  display: inline-block;
  float: right;
  margin-left: 240px;
  padding-top: 20px;
}
.h4 {
  color: white;
}
.money {
  float: right;
  margin-left: 200px;
  padding: 20px;
}
.button1 {
  float: right;
}
/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 30%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 10%;
  }
}
.row1 {
  background-color: white;
}
.row2 {
  background-color: lightgrey;
}
.row3 {
  background-color: white;
}
.row4 {
  background-color: lightgrey;
}
.row5 {
  background-color: white;
}
.row6 {
  background-color: lightgrey;
}
.title8 {
  padding: 0 10px;
}
.span5 {
  color: red;
}

/* Style the button that is used to open and close the collapsible content */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 50px;
  display: none;
  overflow: hidden;
  background-color: #d60505;
  width: 90%;
  color: rgb(255, 255, 255);
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 10px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  #column22,
  #column22 {
    width: 20%;
    text-align: center;
  }
}

/* Three columns side by side */
#column22 {
  float: left;
  width: 33.3%;

  margin-bottom: 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  #column22 {
    width: 70%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
#container22 {
  padding: 0 10px;
  width: 0 11rem;
}

/* Clear floats */
#container22::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
#p22 {
  background-color: transparent;
}
.title img {
  border-radius: 30px 30px 30px 30px;
  box-shadow: -3px -3px 7px #00000073, 3px 3px 5px rgba(90, 91, 92, 0.288);
}
